.wd-body{
height:100%;
width:95%;
  border-style: solid;
  border-color: #f0f0f0;
  border-width: 1px;
  float:left;
}


.wd-searchframe{
  background-color: lightgray;
  height: 35px;
  width:90%;
  border-radius: 15px;
  float:left;
  position: relative;
  left: 10px;
  top:10px;
}

.wd-searchIcon{
  position: relative;
  left: 10px;
}

.wd-searchtext{
  background-color: transparent;
  color: darkgray;
  border: none;
  height: 35px;
  width: 90%;
  position: relative;
  left: 10px;
}

.wd-setting{
  float:left;
  position: relative;
  top: 20px;
  left: 20px;
}

.wd-settingIcon{
  color: black;
}

.wd-float-done{
  clear: both;
}


.wd-fields {
  list-style-type: none;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0;
}

.wd-field {
  float: left;
  font-weight: bold;
  color: grey;
  text-decoration: none;
  padding: 13px;
}

.wd-fieldChosen {
  font-weight: bold;
  color: black;
  border-bottom-color: deepskyblue;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: white;
}

.wd-image{
  width:100%;
  height: auto;
}

.wd-floatText{
  position: relative;
  bottom: 65px;
  left: 20px;
  color: white;
}

.wd-tuits{
  padding: 0;
  list-style-type: none;
  position: relative;
  top: -60px;

}

.wd-tuit{
  padding: 15px;
}

.wd-content{
  position: relative;
}

.wd-inactiveWord{
  color: gray;
}

.wd-tuitTitle{
  font-weight: bold;
}

.moreIcon{
  position: absolute;
  top: 0;
  right: 0;
}

.wd-width100{
  width: 100%;
}

.wd-blue{
  color: deepskyblue;
}

.wd-w95{
  width: 96%;
}